container_commands:
  # 데이터베이스 마이그레이션
  01_migrate: command:

    "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    
     leader_only: true

  # 정적(Static) 파일들을 STATIC_ROOT에 수집

  02_collectstatic: command:

    "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"

    leader_only: true


# EB 설정

option_settings:
  # 마이그레이션은 애플리케이션 시작 전(배포 중)에 이뤄짐
  # 따라서 이를 위해 장고 설정 파일의 경로를 명시적으로 지정

  "aws:elasticbeanstalk:application:environment":

   DJANGO_SETTINGS_MODULE: "config.settings.production"

  # 웹 서버가 장고 웹 어플리케이션과 통신할 때 사용할 WSGI 인터페이스 관련 설정

  "aws:elasticbeanstalk:container:python":

    WSGIPath: config/wsgi.py

  # STATIC_URL로 요청되는 정적 파일들을 STATIC_ROOT에서 찾도록 설정

  "aws:elasticbeanstalk:container:python:staticfiles":

    "/static/": "staticfiles/"
