{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>MapYourDiary</title>
    <link rel="stylesheet" href="{%  static 'style.css' %}" />
    <link rel="stylesheet" href="{%  static 'map.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        @font-face {
            font-family: NB;
            src:url("{% static 'NanumBarunpenB.ttf' %}")format("truetype");
        }
        @font-face {
            font-family: NR;
            src:url("{% static 'NanumBarunpenR.ttf' %}")format("truetype");
        }
    </style>
</head>

<body>
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header" style="font-family: NB">
            <h3>내 장소</h3>
        </div>
        <ul class="list-unstyled components" style="font-family: NB;">
            {% for place in places %}
            <li class="active">
                <a href="#Submenu{{ place.id }}" data-toggle="collapse" aria-expanded="true">{{ place.place_name }}</a>
                <ul class="collapse list-unstyled" id="Submenu{{ place.id }}">
                    <li style="font-family: NR;margin-left: 10px;margin-right: 20px;">
                        <btn href="" type="button" style="text-align: center;font-size: 1.2em;">{{ place.title }}</btn>
{#                            {% if user_status %}#}
{#                                <img class="like" src="{% static 'like.png' %}" data-id="{{ place.id }}" alt="Image" style="cursor: pointer;float:right;width: 2.3rem;"></btn>#}
{#                            {% else %}#}
{#                                <img class="like" src="{% static 'dislike.png' %}" data-id="{{ place.id }}" alt="Image" style="cursor: pointer;float:right;width: 2.3rem;"></a>#}
{#                            {% endif %}#}
                    </li>
                </ul>
            </li>
            {% endfor %}

        </ul>

{#        <ul class="list-unstyled CTAs">#}
{#            <li><a href="#" class="download" style="font-family: NB; font-size: 1.5em">길찾기</a></li>#}
{#            <li><a href="#" class="article" style="font-family: NB">친구 추가</a></li>#}
{#        </ul>#}
    </nav>

    <!-- Page Content Holder -->
    <div id="content" style="width: 100vw; height: 100vh;font-family: NB;">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <h1 style="font-family: NB; margin-top: 0px;">Map Your Diary</h1>
                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="glyphicon glyphicon-align-left"></i>
                        <span>내 장소</span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right" style="font-size: 1.2em;">
                        <li id="id_username"><a href="/dashboard">{{ user.username }}님</a></li>
                        <li><a href="/logout">로그아웃</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="pac-card" id="pac-card">
          <div>
            <div id="title" style="font-family: NB; font-size: 1.9em;">장소 검색</div>
          </div>
          <div id="pac-container">
              <input id="pac-input" type="text" class="form-control" style="font-family: NR" placeholder="장소명을 입력하세요." aria-describedby="basic-addon2">
          </div>
        </div>
        <div id="map" style="height: 85%;"></div>
        <div id="infowindow-content">
          <img src="" width="16" height="16" id="place-icon" />
          <span id="place-name" class="title"></span><br />
          <span id="place-address"></span>
        </div>

    <!-- Modal -->
    
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">게시글 입력</h4>
                    </div>
                    <form method="POST" action="{% url 'add_place' %}">
                        {% csrf_token %}
                        <input type="float"  name="lng" id="lng-input" value="" hidden>
                        <input type="float"  name="lat" id="lat-input" value="" hidden>
                        <input type="text" name="address" id="address" value="" hidden>
                        <div class="modal-body">
                            <label for="place" class="control-label">Place:</label>
                            <input type="text" class="form-control" id="place-input" name="place">
                            <label for="recipient-name" class="control-label">Title:</label>
                            <input type="text" class="form-control" id="recipient-name" name="title">
                            <!-- 장소명 -->
                            <label for="recipient-name" class="control-label">Place Name:</label>
                            <input type="text" class="form-control" id="recipient-name" name="place_name">
                            <!-- 주소 --> 
                            <label for="recipient-name" class="control-label">Address:</label>
                            <input type="text" class="form-control" id="recipient-name" name="place_addr">
                            <!-- 글 내용 -->
                            <label for="message-text" class="control-label">Message:</label>
                            <textarea class="form-control" id="message-text" name="description"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- jQuery CDN -->
 <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
 <!-- Bootstrap Js CDN -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0VuxLCHgrHGPT1SitPMHecNCZHsbXe9A&callback=initMap&libraries=places&v=weekly&censor=true"
  defer
></script>

<script type="text/javascript">
    $(document).on("click", ".like", function(event){
        var user_name = $('#id_username').text();
        var place_id = $(this).data("id");
        $.ajax({
          type: "POST",
          url: "{% url 'add_good_place' %}",
          data: {'place_id': place_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
          dataType: "json",
          success: function(response){
              console.log(this.$(".like-img"));
            if (response.message == 1) {
                this.$(".like-img").attr('src',"{% static 'like.png' %}")
            }
            else {
                this.$(".like-img").attr('src',"{% static 'dislike.png' %}")
            }
          },
        });
      });
      // 지도 클릭하면 마커 생성
    //   map.addListener("click", (e) => {
    //     const marker = new google.maps.Marker({
    //         position: e.latLng,
    //         map: map,
    //     });

    //     marker.addListener("click", () => {
    //       $('#myModal').modal("show");
    //       console.log("Sdasdasd");
    //   })
    //   })

    // 지도 생성 & 자동완성으로 동기적으로 변경
    function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: -33.8688, lng: 151.2195 },
        zoom: 15,
        mapTypeId: "roadmap",
        });
        // 현재 위치 찾기
        if (navigator.geolocation){
            navigator.geolocation.getCurrentPosition(
                function(pos) {
                    const uluru = {lat: pos.coords.latitude, lng: pos.coords.longitude};
                    // alert("현재 위치는 : " + uluru.lat + uluru.lng);
                    map.setCenter(uluru);
                });
        }else {
            alert('GPS를 지원하지 않습니다');
        }

        // 마커 생성 및 모달 띄우기 -유찬영
        map.addListener("click", (e) => {
            const marker = new google.maps.Marker({
                position: e.latLng,
                map: map,
            });

            marker.addListener("click", () => {
                $('#lng-input').val(e.latLng.lng);
                $('#lat-input').val(e.latLng.lat);
                $('#myModal').modal("show");
            })
        })
        // 검색어를 동적으로 적용하여 장소 찾기
        const input = document.getElementById("pac-input");
        const card = document.getElementById("pac-card");
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);
        const autocomplete = new google.maps.places.Autocomplete(input);
          // Bind the map's bounds (viewport) property to the autocomplete object,
          // so that the autocomplete requests use the current map bounds for the
          // bounds option in the request.
        autocomplete.bindTo("bounds", map);
          // Set the data fields to return when the user selects a place.
        autocomplete.setFields(["address_components", "geometry", "icon", "name"]);
        const infowindow = new google.maps.InfoWindow();
        const infowindowContent = document.getElementById("infowindow-content");
        infowindow.setContent(infowindowContent);

        const marker = new google.maps.Marker({
            map,
            anchorPoint: new google.maps.Point(0, -29),
        });
        autocomplete.addListener("place_changed", () => {
            infowindow.close();
            marker.setVisible(false);
            const place = autocomplete.getPlace();

            if (!place.geometry) {
              window.alert("장소 검색 실패: '" + place.name + "'");
              return;
            }

            let address = "";

            if (place.address_components) {
                var step;
                for (step = 0; step < place.address_components.length; step++) {
                    address = address + ' ' + place.address_components[step].long_name;
                }
            }
            infowindowContent.children["place-icon"].src = place.icon;
            infowindowContent.children["place-name"].textContent = place.name;
            infowindowContent.children["place-address"].textContent = address;

            // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
              map.fitBounds(place.geometry.viewport);
            } else {
              map.setCenter(place.geometry.location);
              map.setZoom(17); // Why 17? Because it looks good.
            }
            marker.setPosition(place.geometry.location);
            marker.addListener("click", (e) => {
                $('#place-input').val(place.name);
                $('#lng-input').val(e.latLng.lng);
                $('#lat-input').val(e.latLng.lat);
                $('#address').val(address);
                $('#myModal').modal("show");
            })
            marker.setVisible(true);
            infowindow.open(map, marker);
        });
    }

    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });
</script>
</body>
</html>